.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 100vh;
  flex-direction: column;
}

.box {
  width: 100px;
  height: 100px;
  margin: 10px;
}

.green {
  background-color: green;
}

.purple {
  background-color: purple;
}

.blue {
  background-color: blue;
}

.square{
    width:15px;
    height:15px;
    margin: 15px;
    background-color: pink;
}

.square1{
    width:30px;
    height:30px;
    margin: 15px;
    background-color: lime;
}

.square2{
    width:30px;
    height:30px;
    margin: 15px;
    background-color: yellow;
}
.square3{
    width:30px;
    height:30px;
    margin: 15px;
    
}